{% extends "staff_site/base.html" %}
      {% block body %}
      <!-- partial -->
      <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-6 grid-margin stretch-card" style="width: 100%">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">All Destinations</h4>
                  <p class="card-description">
                    All destinations in <code>Digital Beans</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                          <th>Destination ID</th>
                          <th>Destination</th>
                          <th>Delete</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for destination in destinations %}
                        <tr>
                          <td>{{destination.id}}</td>
                          <td>{{destination.name}}</td>
                          <td><input type="submit" class="btn btn-success" style="width: fit-content" value="DELETE" onclick="delete_des({{destination.id}})" /></td>
                            <script>
                                function delete_des (id){
                                  $.get({
                                    url: '/staff/contents/destinations/store_des_id',
                                    type: 'GET',
                                    data: ({id : id}),
                                    success: function (data) {
                                        window.location.href = '/staff/contents/destinations/delete';
                                    }
                                  })
                                }
                            </script>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

                <form action="{{ url_for('staff_site.destinations') }}" method="post" novalidate>
                    {{ form.csrf_token }}
                    <div class="col-lg-6 grid-margin stretch-card" style="width: 100%">
                        <div class="card">
                            <div class="card-body" >
                                <h4 class="card-title">Add New Destination</h4>
                                <p>Destination Name:</p>
                                <label>
                                    <input type="text" class="form-control" name="destination" style='width: 100%'/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div style="display:flex;justify-content: center; align-items:center;">
                        <input type="submit" class="btn btn-primary me-2" style="width: fit-content; " value="Submit"  />
                    </div>
                </form>
            </div>
        </div>

        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
<!--            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>-->
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
      {% endblock %}