{% extends "staff_site/base.html" %}
      {% block body %}

      <!-- partial -->
      <div class="main-panel">
          <div class="content-wrapper">
              <div class="row">
                  <div class="col-lg-6 grid-margin stretch-card" style="width: 100%">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">All Messages</h4>
                  <p class="card-description">
                    All message from customers
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Message</th>
                            <th>Time</th>
                            <th>Operation</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for i in range(0,names|length) %}
                        <tr>
                            <td>{{names[i]}}</td>
                            <td>{{emails[i]}}</td>
                            <td>{{contents[i]}}</td>
                            <td>{{times[i]}}</td>
                            <td><a class="btn btn-success" style="width: fit-content"  href="{{ url_for('staff_site.check_message_details',message_id=ids[i]) }} "> CHECK</a></td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

              </div>
          </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
<!--            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>-->
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
      {% endblock %}