{% extends "staff_site/base.html" %}
      {% block body %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row" id="row">
            <div class="col-md-6 grid-margin stretch-card" id="card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Day Trip</h4>
                  <p class="card-description">
                    Complete the trip information
                  </p>
                  <form class="forms-sample" id="day_trip_form">
                    <div class="form-group">
                      <label for="Destination">Destination</label>
                      <select class="form-control" id="Destination" name="destination">
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Attraction">Attraction</label>
                      <select class="form-control" id="Attraction" name="attraction">
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Accommodation">Accommodation</label>
                      <select class="form-control" id="Accommodation" name="accommodation">
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Traffic">Traffic</label>
                      <select class="form-control" id="Traffic" name="traffic">
                         <option>1</option>
                         <option>2</option>
                         <option>3</option>
                         <option>4</option>
                      </select>
                    </div>

                    <button type="button" class="btn btn-primary me-2" onclick="addRow()">Add</button>
                    <button class="btn btn-light">Delete</button>
                  </form>

                    <script type="text/javascript" src="../../static/staff_site_static/add_new_day.js"></script>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
      {% endblock %}