{% extends "staff_site/base.html" %}
      {% block body %}
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
          <h3 style="margin: 0 0 2% 2%">Create a New Travel Plan</h3>
          <div class="row" id="row">
            {% for day in days %}
            <div class="col-md-6 grid-margin stretch-card" >
              <div class="card" >
                <div class="card-body" style="margin: 0 3% 0 3%;">
                  <h4 class="card-title">Day {{day[0]}}</h4>
                  <p class="card-description">
                    Day trip information
                  </p>
                  <form class="forms-sample">
                    <div class="form-group">
                      <label for="Destination">Destination</label>
                      <h4 style="color:#76838f; border-bottom: 1px solid #dbdbdb; padding-bottom: 1%; margin-top: 2%">{{day[1]}}</h4>
                    </div>
                    <div class="form-group">
                      <label for="Attraction">Attraction</label>
                      <h4 style="color:#76838f; border-bottom: 1px solid #dbdbdb; padding-bottom: 1%; margin-top: 2%">{{day[2]}}</h4>
                    </div>
                    <div class="form-group">
                      <label for="Accommodation">Accommodation</label>
                      <h4 style="color:#76838f; border-bottom: 1px solid #dbdbdb; padding-bottom: 1%; margin-top: 2%">{{day[3]}}</h4>
                    </div>
                    <div class="form-group">
                      <label for="Traffic">Traffic</label>
                      <h4 style="color:#76838f; border-bottom: 1px solid #dbdbdb; padding-bottom: 1%; margin-top: 2%">{{day[4]}}</h4>
                    </div>
                      <button class="btn btn-light">Delete</button>
                  </form>

                </div>
              </div>
            </div>
            {% endfor %}
            <div class="col-md-6 grid-margin stretch-card" id="card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">New Day-Trip Draft</h4>
                  <p class="card-description">
                    Complete the trip information
                  </p>
                  <form action="{{ url_for('staff_site.add_new_day') }}" method="post" novalidate
                        class="forms-sample" id="day_trip_form">
                      {{ day_form.csrf_token }}
                    <div class="form-group">
                      <label for="Destination">Destination</label>
                      <select class="form-control" id="Destination" name="destination">
                          {% for destination in destinations %}
                          <option>{{destination.name}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Attraction">Attraction</label>
                      <select class="form-control" id="Attraction" name="attraction">
                         {% for attraction in attractions %}
                          <option>{{attraction.name}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Accommodation">Accommodation</label>
                      <select class="form-control" id="Accommodation" name="accommodation">
                         {% for accommodation in accommodations %}
                          <option>{{accommodation.name}}</option>
                          {% endfor %}
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="Traffic">Traffic</label>
                      <select class="form-control" id="Traffic" name="traffic">
                         {% for traffic in traffics %}
                          <option>{{traffic.name}}</option>
                          {% endfor %}
                      </select>
                    </div>

                    <button name='submit' type="submit" class="btn btn-primary me-2" id="add">Add</button>
<!--                    <button class="btn btn-light">Delete</button>-->
                  </form>

                </div>
              </div>
            </div>
          </div>

          <form action="{{url_for('staff_site.submit_plan')}}" method="post" novalidate>
          {{ plan_form.csrf_token }}

          <h5>Plan Name</h5>
          <label>
            <input name="name">
          </label>

          <h5>Introduction</h5>
          <label style="width: 90%">
            <textarea name="intro" style="width: 100%"> </textarea>
          </label>

          <h5>price</h5>
          <label style="margin-bottom: 1%">
            <input type="number" name="price">
          </label>
          <br>
          <div style="display:flex;justify-content: center; align-items:center;">
            <a href="{{url_for("staff_site.clear_draft")}}">
              <input type="button" class="btn btn-primary me-2" name="clear_all" value="Clear All" >
            </a>
            <a>
              <input type="button" class="btn btn-primary me-2" name="save_draft" value="Save Draft">
            </a>
            <a href="{{url_for("staff_site.submit_plan")}}">
              <input type="submit" class="btn btn-primary me-2" name="submit" value="Add Plan">
            </a>
          </div>

            </form>


        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
      {% endblock %}