{% extends "staff_site/base.html" %}
      {% block body %}
<script>
    var message = {{message|tojson()}};
    if (message !== ""){
        alert(message);
    }
</script>
      <!-- partial -->
      <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-6 grid-margin stretch-card" style="width: 100%">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">All Traffic</h4>
                  <p class="card-description">
                    All traffics in <code>Digital Beans</code>
                  </p>
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead>
                        <tr>
                            <th>Traffic</th>
                            <th>Introduction</th>
                            <th>Price</th>
                        </tr>
                      </thead>

                      <tbody>
                      {% for traffic in traffics %}
                        <tr>
                            <td>{{traffic.name}}</td>
                            <td>{{traffic.intro}}</td>
                            <td><label class="badge badge-danger">¥ {{traffic.price}}</label></td>
                        </tr>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
                <form action="{{ url_for('staff_site.traffics') }}" method="post" novalidate>
                    {{ form.csrf_token }}
                      <div class="col-lg-6 grid-margin stretch-card" style="width: 100%">
                        <div class="card">
                            <div class="card-body" >
                                <p>Traffic Name:</p>

                                <input type="text" class="form-control" name="name" />

<!--                                <div class="form-group" style="margin: 1% 0 1% 0">-->
<!--                                  <label for="Destination">Location:</label>-->
<!--                                  <select class="form-control" id="Destination" name="location">-->
<!--                                      {% for location in destinations %}-->
<!--                                      <option>{{location.name}}</option>-->
<!--                                      {% endfor %}-->
<!--                                  </select>-->
<!--                                </div>-->

                                <p style="margin-top: 1%">Introduction:</p>
                                <input type="text" class="form-control" name="intro" />
                                <p style="margin-top: 1%">Price:</p>
                                <input type="number" class="form-control" name="price" />

                            </div>
                        </div>
                      </div>
                    <div style="display:flex;justify-content: center; align-items:center;">
                        <input type="submit" class="btn btn-primary me-2" style="width: fit-content; " value="ADD TRAFFIC"  />
                    </div>
                  </form>
          </div>

        </div>
        <!-- content-wrapper ends -->
        <!-- partial:../../partials/_footer.html -->
        <footer class="footer">
          <div class="d-sm-flex justify-content-center justify-content-sm-between">
<!--            <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Premium <a href="" target="_blank">Bootstrap admin template</a> from BootstrapDash.</span>-->
            <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Copyright © 2021. All rights reserved.</span>
          </div>
        </footer>
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
      {% endblock %}