<!DOCTYPE html>
<html lang="en">
<script type="text/javascript" src="https://cdn.weglot.com/weglot.min.js"></script>
<script>
    Weglot.initialize({
        api_key: 'wg_991d5991daaf78aac7e8fa18f31205397'
    });
</script>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!--    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">-->
    <!--    <meta name="description"-->
    <!--          content="Probably the most complete UI kit out there. Multiple functionalities and controls added,  extended color palette and beautiful typography, designed as its own extended version of Bootstrap at  the highest level of quality.                             ">-->
    <!--    <meta name="author" content="Webpixels">-->
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="../static/css/theme.css" rel="stylesheet">
       <!-- Demo CSS - No need to use these in your project -->
    <link type="text/css" href="../static/css/demo.css" rel="stylesheet">

    <link href="../static/fontawesome-free-6.3.0-web/css/fontawesome.css" rel="stylesheet">
    <link href="../static/fontawesome-free-6.3.0-web/css/brands.css" rel="stylesheet">
    <link href="../static/fontawesome-free-6.3.0-web/css/solid.css" rel="stylesheet">

<!--    <link type="text/css" href="../static/css/mianpage_button_only.css" rel="stylesheet">-->

    <link rel="shortcut icon" href="../static/images/brand/plane.PNG" type="image/x-icon"/>
    <link rel="shortcut icon" href="../static/staff_site_static/images/favicon.png" />

    {% block head %}{% endblock %}

</head>

{% block style %} {% endblock %}

<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-transparent navbar-dark bg-dark py-4">
    <div class="container">
        <a class="navbar-brand" href=""><strong>Digital Beans</strong> Traveling</a>
        <button class="navbar-toggler" type="button" data-action="offcanvas-open" data-target="#navbar_main"
                aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse offcanvas-collapse" id="navbar_main">
            <ul class="navbar-nav ml-auto align-items-lg-center">
                <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Menu</h6>
                {#                <li class="nav-item active">#}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">Overview</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbar_main_dropdown_1" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Links</a>
                    <div class="dropdown-menu" aria-labelledby="navbar_1_dropdown_1">

                        {%  if not current_user.is_authenticated %}
                        <a class="dropdown-item" href="{{ url_for('homepage') }}">Homepage</a>
{#                        <a class="dropdown-item" href="{{ url_for('homepage2') }}">Homepage2</a>#}
<!--                        <a class="dropdown-item" href="{{ url_for('about') }}">About us</a>-->
                        <a class="dropdown-item" href="{{ url_for('account.login') }}">Sign in</a>
                        <a class="dropdown-item" href="{{ url_for('account.sign_up') }}">Register</a>
                        {% else %}
                        <a class="dropdown-item" href="{{ url_for("profile") }}">Hi, {{ current_user.username }}</a>
                        <a class="dropdown-item" href="{{ url_for('homepage') }}">Homepage</a>
<!--                        <a class="dropdown-item" href="{{ url_for('about') }}">About us</a>-->
                        <a class="dropdown-item" href="{{ url_for('account.logout') }}">Logout</a>
                        {% endif %}
                        <a class="dropdown-item" href="{{ url_for('about') }}">About us</a>
                        <a class="dropdown-item" href="{{ url_for('contact_us') }}">Contact us</a>
                    </div>
                </li>
                {#                <li class="nav-item">#}
                {#                    <a class="nav-link" href="./docs/introduction.html">Docs</a>#}
                {#                </li>#}
{#                <li class="nav-item">#}
{#                    <a href="https://github.com/webpixels/boomerang-ui-kit/archive/master.zip" target="_blank"#}
{#                       class="nav-link d-lg-none">Download Free</a>#}
{#                    <a href="https://github.com/webpixels/boomerang-ui-kit/archive/master.zip" target="_blank"#}
{#                       class="btn btn-sm bg-white d-none d-lg-inline-flex">Download Free</a>#}
{#                </li>#}
                <div class="dropdown-divider d-lg-none my-4"></div>
                <h6 class="dropdown-header font-weight-600 d-lg-none px-0">Social Media</h6>
{#                <li class="nav-item">#}
{#                    <a class="nav-link nav-link-icon" href="https://instagram.com/" target="_blank"><i#}
{#                            class="fab fa-instagram"></i><span class="ml-2 d-lg-none">Instagram</span></a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link nav-link-icon" href="https://web.facebook.com/" target="_blank"><i#}
{#                            class="fab fa-facebook"></i><span class="ml-2 d-lg-none">Facebook</span></a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link nav-link-icon" href="https://csgitlab.ucd.ie/comp3030j_spring_2022-2023_group_3/comp3030j_spring_2022-2023_group_3" target="_blank"><i
                            class="fab fa-gitlab"></i><span class="ml-2 d-lg-none">Gitlab</span></a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link nav-link-icon" href="https://github.com/" target="_blank"><i#}
{#                            class="fab fa-github"></i><span class="ml-2 d-lg-none">Github</span></a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->
{% block main %}
{% endblock %}

<footer class="pt-5 pb-3 footer  footer-dark bg-tertiary">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-5">
                <div class="pr-lg-5">
                    <h1 class="heading h6 text-uppercase font-weight-700 mb-3"><strong>Digital Beans</strong> Traveling</h1>
                    <p> We're a travel agency that creates personalized travel experiences.
                        Our team of experts takes care of every detail, from activities to flights and accommodations.
                        We partner with top-rated suppliers for exclusive deals.
                        Let us help you plan your next adventure and make unforgettable memories. </p>
                </div>
            </div>
            <div class="col-6 col-md">
                <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Services</h5>
                <ul class="list-unstyled text-small">
                    <li><a class="text-muted" href="{{ url_for('homepage') }}">Travel Package</a></li>
                    <li><a class="text-muted" href="{{ url_for('personal_plan') }}">Personal Plan</a></li>
                    <li><a class="text-muted" href="{{ url_for('attractions') }}">Attraction</a></li>
                    <li><a class="text-muted" href="{{ url_for('stays') }}">Accommodation</a></li>
                    <li><a class="text-muted" href="{{ url_for('traffics') }}">Traffic</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="heading h6 text-uppercase font-weight-700 mb-3">About</h5>
                <ul class="list-unstyled text-small">
{#                    <li><a class="text-muted" href="/about#team">Team</a></li>#}
                    <li><a class="text-muted" href="/about#services">Services</a></li>
                    <li><a class="text-muted" href="{{ url_for('about') }}">About Us</a></li>
                    <li><a class="text-muted" href="{{ url_for('contact_us') }}">Contact Us</a></li>
                    <li><a class="text-muted" href="{{ url_for('chat.chat') }}">Customer Service</a></li>
                    <li><a class="text-muted" href="{{ url_for('help2') }}">Help</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5 class="heading h6 text-uppercase font-weight-700 mb-3">Address</h5>
                <ul class="list-unstyled text-small">
                    <li class="text-muted">Beijing University of Technology</li>
                    <li class="text-muted">No. 100 Pingyuan</li>
                    <li class="text-muted">Chaoyang District</li>
                    <li class="text-muted">Beijing, China</li>
                    <li class="text-muted">100021</li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="d-flex align-items-center">
        <span class="">
          &copy; 2023 <a href="#" class="footer-link" target="_blank">Digital Beans</a>. All rights reserved.
        </span>
            <ul class="nav ml-lg-auto">
{#                <li class="nav-item">#}
{#                    <a class="nav-link active" href="https://instagram.com" target="_blank"><i#}
{#                            class="fab fa-instagram"></i></a>#}
{#                </li>#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="https://facebook.com" target="_blank"><i#}
{#                            class="fab fa-facebook"></i></a>#}
{#                </li>#}
                <li class="nav-item">
                    <a class="nav-link" href="https://csgitlab.ucd.ie/comp3030j_spring_2022-2023_group_3/comp3030j_spring_2022-2023_group_3" target="_blank"><i
                            class="fab fa-gitlab"></i></a>
                </li>
{#                <li class="nav-item">#}
{#                    <a class="nav-link" href="https://github.com" target="_blank"><i#}
{#                            class="fab fa-github"></i></a>#}
{#                </li>#}
            </ul>
        </div>
    </div>
</footer>
<!-- Core -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper/popper.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<!-- FontAwes../staticome 5 -->
<script src="../static/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
<!-- Page plu../staticgins -->
<script src="../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="../static/vendor/input-mask/input-mask.min.js"></script>
<script src="../static/vendor/nouislider/js/nouislider.min.js"></script>
<script src="../static/vendor/textarea-autosize/textarea-autosize.min.js"></script>
<!-- Theme JS -->
<script src="../static/js/theme.js"></script>

</body>
</html>
