{% extends "base2.html" %}
{% block title %}
    Contact
{% endblock %}

{% block style %}
<style>
    .navbar{
        background-color: #192b3f !important;

    }
</style>
{% endblock %}

{% block main %}

<main class="main">
    <section class="slice slice-xl">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7">
                    <div class="text-center pt-lg-xl">
                        <h2 class="heading h1 mb-4">
                            Wanna work together?
                        </h2>
                        <p class="lead lh-180">
                            We are a team of professionals who love traveling and helping others do the same. We are always looking for new partners and collaborators.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice bg-tertiary bg-cover bg-size--cover"
             style="background-image: url('../static/images/backgrounds/img-1.jpg')">
        <span class="mask bg-tertiary alpha-9"></span>
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-6">
                    <div class="card bg-dark alpha-container text-white border-0 overflow-hidden">
                        <a href="#" target="_blank">
                            <div class="card-img-bg"
                                 style="background-image: url('../static/images/prv/dublin.png');"></div>
                            <span class="mask bg-dark alpha-5 alpha-4--hover"></span>
                            <div class="card-body px-5 py-5">
                                <div style="min-height: 300px;">
                                    <h3 class="heading h1 text-white mb-3">Dublin Office</h3>
                                    <p class="mt-4 mb-1 h5 text-white lh-180">
                                        E: dublin@digitalbeans.com
                                    </p>
                                    <p class="mb-1 h5 text-white lh-180">
                                        T: 0000 000 000
                                    </p>
                                </div>
                                <span href="#" class="text-white text-uppercase font-weight-500">
                                    See on map
                                    <i class="fas fa-arrow-right ml-2"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card bg-dark alpha-container text-white border-0 overflow-hidden">
                        <a href="#" target="_blank">
                            <div class="card-img-bg"
                                 style="background-image: url('../static/images/prv/beijing.png');"></div>
                            <span class="mask bg-dark alpha-5 alpha-4--hover"></span>
                            <div class="card-body px-5 py-5">
                                <div style="min-height: 300px;">
                                    <h3 class="heading h1 text-white mb-3">Beijing Office</h3>
                                    <p class="mt-4 mb-1 h5 text-white lh-180">
                                        E: beijing@digitalbeans.com
                                    </p>
                                    <p class="mb-1 h5 text-white lh-180">
                                        T: 0000 000 000
                                    </p>
                                </div>
                                <span href="#" class="text-white text-uppercase font-weight-500">
                                    See on map
                                    <i class="fas fa-arrow-right ml-2"></i>
                                </span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg">
        <div class="container">
            <div class="row align-items-center cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-6">
                    <h3 class="heading h3 mb-4">Send us a message</h3>
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Name" type="text">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <input class="form-control" placeholder="Email address" type="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="Your message"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="mt-4">
                            <button type="submit" class="btn btn-primary px-4">
                                Send message
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col-lg-5 ml-lg-auto">
                    <h3 class="heading heading-3 strong-300">
                        No. 100 Pingyuan, Chaoyang District
                        <br>
                        Beijing, China, 100124
                    </h3>
                    <p class="lead mt-4 mb-4">
                        E: <a href="#">support@digitalbeans.com</a>
                        <br>
                        T: 0000 000 000
                    </p>
                    <p class="">
                        Let's work together! Our team of travel enthusiasts is open to new partnerships and collaborations.
                        Contact us to explore opportunities in the world of travel.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}