{% extends "base.html" %}

{% block head %}
    <meta charset="UTF-8">
    <title>Help</title>
{#    <!-- 新 Bootstrap5 核心 CSS 文件 -->#}
{#    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">#}
{##}
{#    <!--  popper.min.js 用于弹窗、提示、下拉菜单 -->#}
{#    <script src="https://cdn.staticfile.org/popper.js/2.9.3/umd/popper.min.js"></script>#}
{##}
{#    <!-- 最新的 Bootstrap5 核心 JavaScript 文件 -->#}
{#    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.min.js"></script>#}
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 5%; margin-bottom: 3%">
{#            <div class="col-sm-2">#}
{#                <hr>#}
{#                <button class="btn btn-info w-100"><a href="{{ 'help_for_customer' }} " style="color: white">Details</a>#}
{#                </button>#}
{##}
{#                <div class="card text-center">#}
{#                    <div class="card-header">#}
{#                        You may want to know#}
{#                    </div>#}
{#                    <div class="card-body">#}
{#                        <h5 class="card-title">Details about what users can do?</h5>#}
{#                        <p class="card-text">Click Following button and move to the file page</p>#}
{#                        <a href="{{ 'help_for_customer' }}" class="btn btn-primary" style="width: 60%">Go Details</a>#}
{#                    </div>#}
{#                    <div class="card-footer text-muted">#}
{#                        From Developer Group#}
{#                    </div>#}
{#                </div>#}

                {#                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"#}
                {#                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">Content#}
                {#                </button>#}
                {##}
                {#                <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions"#}
                {#                     aria-labelledby="offcanvasWithBothOptionsLabel">#}
                {#                    <div class="offcanvas-header">#}
                {#                        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Chapter</h5>#}
                {#                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>#}
                {#                    </div>#}
                {#                    <div class="offcanvas-body">#}
                {#                        <div class="bd-toc-item active">#}
                {#                            <a class="bd-toc-link" href="{{ url_for('help') }}">#}
                {#                                Overview#}
                {#                            </a>#}
                {#                        </div>#}
                {#                        <div class="bd-toc-item">#}
                {#                            <a class="bd-toc-link" href="{{ url_for('help_for_customer') }}">#}
                {#                                For Customer#}
                {#                            </a>#}
                {#                        <ul class="nav bd-sidenav">#}
                {##}
                {#                            <li>#}
                {#                                <a href="#C1">Sign Up and Log in</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/badge/">View and Search Travel Packages</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/breadcrumb/">Add to Favorites</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/buttons/">Book Packages</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/button-group/">Check Orders</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/card/">Customer Service</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/carousel/">Comments</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/collapse/">Check Company Profile</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/dropdowns/">Contact to the Company</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/forms/">Whole Page Translation</a>#}
                {#                            </li>#}
                {#                            <li>#}
                {#                                <a href="/docs/4.6/components/input-group/">For Staff - Staff Porta</a>#}
                {#                            </li>#}
                {#                        </ul>#}
                {#                        </div>#}
                {#                        <p>Try scrolling the rest of the page to see this option in action.</p>#}
                {#                    </div>#}
                {#                </div>#}
{#            </div>#}
            <div class="col-md-12" style="display: flex; justify-content: center; align-items: center; margin: 2% 0">
                <embed src="../static/upload/user file.pdf" type="application/pdf" width="800" height="800" class="container">
            </div>

{#            <div class="col-sm-2"></div>#}
        </div>

    </div>

{% endblock %}
{#</body>#}
{#</html>#}
{#<embed src="static/upload/user file.pdf" type="application/pdf" width=800 height=800 class="container">#}
{#<a href="system file.pdf">Download PDF</a>#}
{#<p></p>#}
{#<div id="example1"></div>#}
{#<style>#}
{#.pdfobject-container { width: 936px; height: 902px; }#}
{#</style>#}
{#<script>#}
{#var options = {#}
{#      pdfOpenParams: {#}
{#        page: 1, // 第几页，没有则默认缓存上次打开的页数#}
{#        toolbar: 0,  // 关闭第几栏#}
{#        navpanes: 0, // 关闭导航#}
{#        statusbar: 0, // 关闭状态栏#}
{#        view: "FitH", // 视图顶对齐#}
{#        scrollbars: "0" // 滚动条关闭#}
{#      }#}
{#    };#}
{##}
{#    PDFObject.embed("test.pdf", "#example1", options);#}
{#</script>#}
{##}
{##}
{#<script src="../static/pdfobject.js"></script>#}
{#<script>PDFObject.embed("'static/upload/system file.pdf/'", "#example1");</script>#}
{#</body>#}
{#</html>#}