{% extends "base.html" %}
{#<html lang="en">#}
{#<head>#}
{% block head %}
    <meta charset="UTF-8">
    <title>Help</title>
{% endblock %}
{#</head>#}
{#<body>#}
{% block body %}
    <div class="container-fluid">
        <div class="row" style="margin-top: 5%; margin-bottom: 3%">
            <div class="col-sm-4">
                {#                <form role="search" class="bd-search d-flex align-items-center">#}
                {#                    <button class="btn bd-search-docs-toggle d-md-none p-0 ml-3" type="button" data-toggle="collapse"#}
                {#                            data-target="#bd-docs-nav" aria-controls="bd-docs-nav" aria-expanded="false"#}
                {#                            aria-label="Toggle docs navigation">#}
                {#                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" role="img"#}
                {#                             focusable="false"><title>Menu</title>#}
                {#                            <path stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2"#}
                {#                                  d="M4 7h22M4 15h22M4 23h22"></path>#}
                {#                        </svg>#}
                {#                    </button>#}
                {#                </form>#}
                <hr>
                <nav class="bd-links list-group" aria-label="Main navigation">

                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="{{ url_for('help') }}">
                            Overview
                        </a>
                    </div>
                    {##}
                    {#                    <div class="bd-toc-item">#}
                    {#                        <a class="bd-toc-link" href="/docs/4.6/layout/overview/">#}
                    {##}
                    {#                        </a>#}
                    {#                    </div>#}
                    {##}
                    {#                    <div class="bd-toc-item">#}
                    {#                        <a class="bd-toc-link" href="/docs/4.6/content/reboot/">#}
                    {#                            Content#}
                    {#                        </a>#}
                    {#                    </div>#}

                    <div class="bd-toc-item active">
                        <a class="bd-toc-link" href="{{ url_for('help_for_customer') }}">
                            For Customer
                        </a>
                        <ul class="nav bd-sidenav">

                            <li>
                                <a href="#C1">Sign Up and Log in</a>
                            </li>
                            <li>
                                <a href="#C2">View and Search Travel Packages</a>
                            </li>
                            <li>
                                <a href="#C3">Add/Remove to Favorites</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/buttons/">Book Packages</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/button-group/">Check Orders</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/card/">Customer Service</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/carousel/">Comments</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/collapse/">Check Company Profile</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/dropdowns/">Contact to the Company</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/forms/">Whole Page Translation</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/input-group/">For Staff - Staff Porta</a>
                            </li>
                        </ul>
                    </div>

                    <div class="bd-toc-item">
                        <a class="bd-toc-link" href="/docs/4.6/components/alerts/">
                            For Staff
                        </a>
                        <ul class="nav bd-sidenav">
                            <li>
                                <a href="/docs/4.6/components/jumbotron/">Sign Up and Log in</a>
                            </li>
                            <li class="active bd-sidenav-active">
                                <a href="/docs/4.6/components/list-group/">Manage All Contents</a>
                            </li>
                            <li>
                                <a href="/docs/4.6/components/media-object/">Contact Customer</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="col-sm-8">
                <h1>
                    For Customer
                </h1>
                <h2>
                    <a name="C1"></a>
                    Register
                </h2>
                <p>1. Click "Links" drop-down. Click Register</p>
                <p>2. Enter username, email address. Click "Get Verification Code".</p>
                <p>3. Go to your mailbox to check your verification code. Enter it into the registration form.</p>
                <p>4. Enter and Reenter the password.</p>
                <p>5. Click "Register Now!"</p>
                <h2>Log in</h2>
                <p>1. Enter the given account's username and password.</p>
                <p>2. Select "Remember me" if you want the website to remember you.</p>
                <p>3. Click "Sign in"</p>
                <h2><a name="C2"></a>View and Search Travel Packages</h2>
                <p>1. item Enter the Overview page and click Start button</p>
                <p>2. Input the name of the destination or attraction or the price range. </p>
                <p>3. Click Check Availability button. </p>
                <p>4. Check each journey. </p>
                <p>5. Click every journey or attractions or accommodations.</p>
                <p>6. Check the detail of this journey.</p>
                <p>User can view all available attractions, hotels and trip guides. Digital Beans also will display the
                    'top attractions', 'Top travel guide' and 'Top stay' to provide some inspiration to users about
                    their dream journey. If the 'top recommendation' not match the user's wants? Our powerful searching
                    function can allow user to search for any desirable attractions, destinations and the acceptable
                    price range. User can fuzzy or precise search for travel journey.
                </p>
                <h2><a name="C3"></a>Add to Favorites</h2>
                <p>1. Click on your preferred tour content on the home page to view details</p>
                <p>2. Click the "Favourite" button to add this travel information to your favorites</p>
                <h2>Remove favorites</h2>
                <p>1. Click the travel content you want to remove from your favorites (already existed in your favourite list) on the home page</p>
                <p>2. Click the "Remove" button to remove this travel information form your favorites</p>
            </div>
        </div>

    </div>
{% endblock %}