<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Help</title>
</head>
<body>
<embed src="static/upload/user file.pdf" type="application/pdf" width=800 height=800>
{#<a href="system file.pdf">Download PDF</a>#}
{#<p></p>#}
{#<div id="example1"></div>#}
{#<style>#}
{#.pdfobject-container { width: 936px; height: 902px; }#}
{#</style>#}
{#<script>#}
{#var options = {#}
{#      pdfOpenParams: {#}
{#        page: 1, // 第几页，没有则默认缓存上次打开的页数#}
{#        toolbar: 0,  // 关闭第几栏#}
{#        navpanes: 0, // 关闭导航#}
{#        statusbar: 0, // 关闭状态栏#}
{#        view: "FitH", // 视图顶对齐#}
{#        scrollbars: "0" // 滚动条关闭#}
{#      }#}
{#    };#}
{##}
{#    PDFObject.embed("test.pdf", "#example1", options);#}
{#</script>#}
{##}
{##}
{#<script src="../static/pdfobject.js"></script>#}
{#<script>PDFObject.embed("'static/upload/system file.pdf/'", "#example1");</script>#}
</body>
</html>