
{% extends "base.html" %}
{% block title %}
    Homepage2
{% endblock %}

{% block head %}
    <link href="../static/css/bootstrap2.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../static/css/style2.css" rel="stylesheet" type="text/css" media="all" />
       <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="../static/css/theme.css" rel="stylesheet">
    <!-- Demo CSS - No need to use these in your project -->
    <link type="text/css" href="../static/css/demo.css" rel="stylesheet">
    <link type="text/css" href="../static/css/docs4.6.css" rel="stylesheet">
    <link type="text/css" href="../static/css/index.css" rel="stylesheet">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
{% endblock %}

<body>
<!-- navbar start -->

{% block body %}

    <div class="banner-section">
		<div class="container">
            <div class="container">
                <div class="banner-heder">
                    <h3>We Plan Your Trip<span>Best Available Choice in Town</span></h3>
                </div>
                <div class="banner-grids">
                    <div class="col-md-2 banner-grid">
                        <select class="sel">
                            <option value="">Location</option>
                            <option value="">Czech Republic</option>
                            <option value="">France</option>
                            <option value="">Germany</option>
                            <option value="">Italy</option>
                        </select>
                    </div>
                    <div class="col-md-2 banner-grid">
                        <select class="sel">
                            <option value="">Hotel</option>
                            <option value="">Hilton</option>
                            <option value="">Holiday Inn</option>
                            <option value="">Sheraton</option>
                        </select>
                    </div>
                    <div class="col-md-2 banner-grid">
                        <select class="sel">
                            <option value="">Type</option>
                            <option value="">Group</option>
                            <option value="">Trip</option>
                        </select>
                    </div>
                    <div class="col-md-2 banner-grid">
                        <select class="sel">
                            <option value="">Select price</option>
                            <option value="">$100 </option>
                            <option value="">$500</option>
                            <option value="">$700</option>
                            <option value="">$4500</option>
                        </select>
                    </div>
                    <div class="col-md-4 search">
                        <form action="#" method="post">
                            <input type="submit" value="Check Availability">
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>


    <div class="promotions">
        <div class="container">
            <h2 class="tittle">Top Trip Guide</h2>
            <span>Best Travel Packages Available</span>
            <div class="promotion-grids">
                <div class="col-md-4 promation-grid">
                    <img src="../static/images/sample_pic/guilin.png" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>Cuba</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> America </h5>
                            </div>
                            <div class="prom-right">
                            <h5>  Luxury  </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
                    </div>
                </div>
                <div class="col-md-4 promation-grid">
                    <img src="../static/images/sample_pic/guilin.png" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>Berlin</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> Europe </h5>
                            </div>
                            <div class="prom-right">
                            <h5>  Relax  </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
                    </div>
                </div>
                <div class="col-md-4 promation-grid">
                    <img src="../static/images/sample_pic/guilin.png" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>Dubai</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> Asia </h5>
                            </div>
                            <div class="prom-right">
                            <h5>  Luxury  </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="promotion-grids">
                <div class="col-md-4 promation-grid">
                    <img src="../static/images/sample_pic/guilin.png" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>Rome</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> Europe </h5>
                            </div>
                            <div class="prom-right">
                            <h5>  Luxury  </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
                    </div>
                </div>
                <div class="col-md-4 promation-grid">
                    <img src="../static/images/sample_pic/guilin.png" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>Shanghai</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5>  Asia </h5>
                            </div>
                            <div class="prom-right">
                            <h5>  Relax  </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
                    </div>
                </div>
                <div class="col-md-4 promation-grid">
                    <img src="../static/images/sample_pic/guilin.png" class="img-responsive" alt=""/>
                    <div class="prom-text">
                        <h4>London</h4>
                        <div class="prom-bottom">
                            <div class="prom-left">
                                <h5> Europe </h5>
                            </div>
                            <div class="prom-right">
                            <h5>  Relax  </h5>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut efficitur ante. Donec dapibus dictum scelerisque. Maecenas semper erat et justo porta auctor nec lobortis elit.</p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>

{% endblock %}


<!-- Core -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper/popper.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<!-- FontAwesome 5 -->
<script src="../static/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
<!-- Page plugins -->
<script src="../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="../static/vendor/input-mask/input-mask.min.js"></script>
<script src="../static/vendor/nouislider/js/nouislider.min.js"></script>
<script src="../static/vendor/textarea-autosize/textarea-autosize.min.js"></script>
<!-- Theme JS -->
<script src="../static/js/theme.js"></script>
</body>
</html>