{% extends "base.html" %}
{% block title %}
    Homepage
{% endblock %}

{% block head %}
    <link href="../static/css/bootstrap2.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="../static/css/style2.css" rel="stylesheet" type="text/css" media="all"/>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Theme CSS -->
    <link type="text/css" href="../static/css/theme.css" rel="stylesheet">
    <!-- Demo CSS - No need to use these in your project -->
    <link type="text/css" href="../static/css/demo.css" rel="stylesheet">
    <link type="text/css" href="../static/css/docs4.6.css" rel="stylesheet">
    <link type="text/css" href="../static/css/index.css" rel="stylesheet">
    <link type="text/css" href="../static/css/style.css" rel="stylesheet">
    <link type="text/css" href="../static/css/book.css" rel="stylesheet">
    <script src="../static/js/ID.js"></script>

    <style>
        .banner-header{
            transform: translate(0, 0);
            margin: 0 0 5em;
            font-size: 1.15rem !important;
            margin-top: 35vh !important;
        }

        .filter{
            border-radius: 0.5em;
        }

        .banner-grids{
            border-radius: 0.7em !important;
            background-color: rgba(6, 47, 60, 0.65) !important;
        }

        .form-btn {
            /*position: absolute;*/
            /*top: 50%;*/
            /*left: 50%;*/
            transform: translate(0, 15%);
        }

        .input-group-text{
            background-color: transparent !important;
            border-color: transparent !important;
            color: white;
            font-weight: bold !important;
            font-size: 0.5rem;
            user-select: none;
        }

        .input-group-text:focus {
            outline: none !important;
            box-shadow: none !important;
            text-decoration: none !important;
        }

        .prom-text .intro {
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 3; /* number of lines to show */
            -webkit-box-orient: vertical;
            line-height: 1.5; /* adjust as needed to set the line height */
            height: 5.1rem !important; /* height of two lines */
            margin-bottom: 10%;
        }

        .title{
            overflow: hidden !important;
            white-space: nowrap !important;
            text-overflow: ellipsis !important;
            {#display: -webkit-box;#}
            {#-webkit-line-clamp: 2; /* number of lines to show */#}
            {#-webkit-box-orient: vertical;#}
            {#line-height: 1.5; /* adjust as needed to set the line height */#}
            {#height: 5.8rem !important; /* height of two lines */#}
            font-size: 1.2rem !important;
        }

        .img-responsive{
            width: 100%;
            height: auto;
            {#padding-bottom: 75%;#}
            position: relative;
        }

        h5{
            margin-bottom: 0 !important;
        }

    </style>

{% endblock %}

<body>
<!-- navbar start -->

{% block body %}

    <span class="mask bg-primary alpha-7" style="opacity: 0.1; background-color: #FFFFFF"></span>
    <div class="banner-section">
        <div class="container">
            <div class="container" >
                <div class="banner-header">
                    <h3>We Plan Your Trip<span style="margin-top: 0.1em">Best Available Choice in Town</span></h3>
                </div>
                <form action="{{ url_for('search.search' ) }}" method="post">
                    <div class="banner-grids" style="padding: 2em 2em 2.5em 2em">

                        <div class="form-group col-md-3 banner-grid">
                            <span class="form-label" style="color: white">Destination</span>
                            <input class="form-control" type="text" name="Destination"
                                   placeholder="Destination">
                        </div>
                        <div class="form-group col-md-3 banner-grid">
                            <span class="form-label" style="color: white">Attraction</span>
                            <input class="form-control" type="text" name="Attraction"
                                   placeholder="Attraction">
                        </div>
                        <div class="form-group col-md-6 banner-grid">
                            <span class="form-label" style="color: white">Price range</span>
                            <div class="input-group">
                                <input class="form-control" type="number" name="Lowest" placeholder="Lowest limitation">
                                <div class="input-group-prepend input-group-append">
                                    <span class="input-group-text">-></span>
                                </div>
                                <input class="form-control" type="number" name="Highest" placeholder="Highest limitation">
                            </div>
                        </div>

                        <div class="form-btn" style="margin-top: 8% !important;">
                            <button type="submit" class="btn btn-default" style="background-color: #062f3c; color: white;">Check
                                Availability
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="promotions">
        <div class="container">
            <h2 class="tittle">Top Trip Guide</h2>
            <span>Best Travel Packages Available</span>
            <div class="promotion-grids">
                <!--                开始渲染全部Sets          -->
                {% for set in Sets %}
                    <a set_id={{ set.id }} onclick="setID(this)">
                        <div class="col-md-4 promation-grid">
                            <!--{#                            <img src="../static/images/sample_pic/the_north_Europe.png" class="img-responsive" alt="" />#}-->
                            <img src="{{ set.image }}" class="img-responsive" alt=""
                                 onerror="javascript:this.src='static/images/sample_pic/the_north_Europe.png/'"/>
                            <div class="prom-text">
                                <h4 class="title" style="display: flex; align-items: center">
                                    <div style="display: flex; align-items: center; font-size: 1rem; background: whitesmoke; border-radius: 5px; padding: 0.15rem 0.3em 0.15rem 0.2rem; margin-right: 0.5rem; color: #1B4367">
                                        <i class="fas fa-star" style="margin-right: 0.2rem; font-size: 0.85rem"></i> {{ set.avg_score }}
                                    </div>
                                    {{ set.name }}
                                </h4>

                                <div class="prom-bottom">
                                    <div class="prom-left">
                                        <h5> Days : {{ set.length }} </h5>
                                    </div>
                                    <div class="prom-right">
                                        <h5> ¥ {{ set.price }} </h5>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <p class="intro">{{ set.intro }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}

                <div class="col-md-12 promation-grid" style="background: rgb(232,241,255); border-radius: 5px; padding: 1rem; display: flex; justify-content: center; align-items: center;">
                    <div style="text-align: center;">
                        <h3 style="margin-top: 0.5rem">No desired package?</h3>
                        <p style="padding-top: 0; margin-bottom: 1rem">Customise your own travel plan using the destinations and accommodations we have provided.</p>
                        <a href="{{ url_for('planning_tool.planning') }}" style="position: relative">
                            <button type="button" class="btn btn-default" style="background-color: #062f3c; color: white;">Create Your Own Trip</button>
                        </a>
                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </div>





    <div class="promotions">
        <div class="container">
            <h2 class="tittle">Top Attractions</h2>
            <span>Best Attractions Available</span>
            <div class="promotion-grids">
                {% for attraction in attractions %}
                    <a set_id={{ attraction.id }} onclick="setTargetID(this)">
                        <div class="col-md-4 promation-grid">
                            <!--{#                            <img src="../static/images/sample_pic/the_north_Europe.png" class="img-responsive" alt="" />#}-->
                            <img src="{{ attraction.image }}" class="img-responsive" alt=""
                                 onerror="javascript:this.src='static/images/sample_pic/the_north_Europe.png/'"/>
                            <div class="prom-text">
                                 <h4 class="title" style="display: flex; align-items: center">
                                    <div style="display: flex; align-items: center; font-size: 1rem; background: whitesmoke; border-radius: 5px; padding: 0.15rem 0.3em 0.15rem 0.2rem; margin-right: 0.5rem; color: #1B4367">
                                        <i class="fas fa-star" style="margin-right: 0.2rem; font-size: 0.85rem"></i> 4.2
                                    </div>
                                    {{ attraction.name }}
                                </h4>

                                <div class="prom-bottom">
                                    <div class="prom-left">
                                        <h5> {{ attraction.location }} </h5>
                                    </div>
                                    <div class="prom-right">
                                        <h5> ¥ {{ attraction.price }} </h5>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <p class="intro">{{ attraction.intro }}</p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="promotions">
        <div class="container">
            <h2 class="tittle">Stays</h2>
            <span>Best Hotels Available</span>
            <div class="promotion-grids">
                {% for hotel in hotels %}
                    <a set_id={{ hotel.id }} onclick="setTargetID(this)">
                        <div class="col-md-4 promation-grid">
                            <!--{#                            <img src="../static/images/sample_pic/the_north_Europe.png" class="img-responsive" alt="" />#}-->
                            <img src="{{ hotel.image }}" class="img-responsive" alt=""
                                 onerror="javascript:this.src='static/images/sample_pic/the_north_Europe.png/'"/>
                            <div class="prom-text">
                                 <h4 class="title" style="display: flex; align-items: center">
                                    <div style="display: flex; align-items: center; font-size: 1rem; background: whitesmoke; border-radius: 5px; padding: 0.15rem 0.3em 0.15rem 0.2rem; margin-right: 0.5rem; color: #1B4367">
                                        <i class="fas fa-star" style="margin-right: 0.2rem; font-size: 0.85rem"></i> 4.2
                                    </div>
                                    {{ hotel.name }}
                                </h4>

                                <div class="prom-bottom">
                                    <div class="prom-left">
                                        <h5> {{ hotel.location }} </h5>
                                    </div>
                                    <div class="prom-right">
                                        <h5> ¥ {{ hotel.price }} </h5>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <p class="intro">{{ hotel.intro }}</p>
                            </div>
                        </div>
                {% endfor %}
                <div class="clearfix"></div>
            </div>
        </div>
    </div>


{% endblock %}


<!-- Core -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper/popper.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<!-- FontAwesome 5 -->
<script src="../static/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
<!-- Page plugins -->
<script src="../static/vendor/bootstrap-select/js/bootstrap-select.min.js"></script>
<script src="../static/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="../static/vendor/input-mask/input-mask.min.js"></script>
<script src="../static/vendor/nouislider/js/nouislider.min.js"></script>
<script src="../static/vendor/textarea-autosize/textarea-autosize.min.js"></script>
<!-- Theme JS -->
<script src="../static/js/theme.js"></script>
</body>