{% extends "base2.html" %}
{% block title %}
    Sign in
{% endblock %}

{% block style %}
<style>
    .bg-primary{
            background: rgba(6, 47, 60, 0.6) !important;
            border-color: rgba(6, 47, 60, 0.3) !important;
        }

        .form-primary{
            background: rgba(0, 0, 0, 0) !important;
            border-color: rgba(0, 0, 0, 0) !important;
        }

        .form-control{
            background: rgba(255, 255, 255, 0.4) !important;
            border-color: rgba(6, 47, 60, 0.7) !important;
        }

        .btn-primary {
            border-color: rgba(0, 0, 0, 0) !important;
        }
</style>
{% endblock %}

{% block main %}

<main class="main">
    <section class="py-xl bg-cover bg-size--cover"
             style="background-image: url('../static/images/backgrounds/img-1.jpg')">
        <span class="mask bg-primary alpha-6"></span>
        <div class="container d-flex align-items-center no-padding" style="margin-top: 5rem !important; margin-bottom: 3rem !important;">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="card bg-primary text-white">
                            <div class="card-body">
                                <button type="button" class="btn btn-primary btn-nobg btn-zoom--hover mb-5">
                                    <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                                </button>
                                <span class="clearfix"></span>
                                <img src="../static/images/brand/icon.png" style="width: 50px;">
                                <h4 class="heading h3 text-white pt-3 pb-5">Welcome back,<br>
                                    login to your account.</h4>



                                <form action="{{ url_for('account.login') }}" method="post" novalidate
                                      class="form-primary">
                                    {{ form.csrf_token }}
                                    {% if message != null %}
                                        <script type="text/javascript">
                                        var message = "{{ message }}"
                                            alert(message)
                                        </script>
                                    {% endif %}
                                    <div class="form-group">
                                        <label for="input_email">User name</label>
                                        <input type="text" class="form-control" id="input_email" placeholder="Username"
                                               name="username">
                                        <!-- the input box for user to type username -->
                                        {% for error in form.username.errors %}
                                            <!-- report error in red to user when get error from backend -->
                                            <span style="color: #fff200;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group">
                                        <label for="input_password">Password</label>
                                        <input type="password" class="form-control" id="input_password"
                                               placeholder="Password" name="password">
                                        <!-- the input box for user to type password -->

                                        {% for error in form.password.errors %}
                                            <!-- report error in red to user when get error from backend -->
                                            <span style="color: #fff200;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    <div class="form-check text-left mt-4" style="float: left">
                                        <input class="form-check-input" type="checkbox" value="remember" id="flexCheckChecked" name="remember_me" >
                                        <label class="form-check-label" for="flexCheckChecked">
                                            Remember me
                                        </label>
                                    </div>
<!--                                    <div class="form-check text-left mt-4" style="float: right">-->
<!--                                        <input class="form-check-input" type="checkbox" value="admin" id="flexCheckChecked" name="is_admin">-->
<!--                                        <label class="form-check-label" for="flexCheckChecked">-->
<!--                                            I am administrator-->
<!--                                        </label>-->
<!--                                    </div>-->
                                    <button type="submit" class="btn btn-block btn-lg bg-white mt-4">Sign in</button>
                                    <div class="mt-4" style="text-align: center;">
                                        <a href="{{ url_for('account.sign_up') }}" class="text-white" style="display: block; margin-top: 10px">Do not have an account？Sign up</a>
                                        <a href="#" class="text-white" style="display: block; margin-top: 10px">Forgot your password?</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

{% endblock %}
