{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}
{% extends "base.html" %}
{% block head %}
    {% block title %}Order Detail{% endblock %}
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/order_detail.css">
    <style>
        .dark_color {
            color: black;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="tm-container" style="background: url('../{{ combination.image }}')  no-repeat center / cover; opacity: 0.8; ">
{#    <div class="tm-container" style="background-image: url('../{{ combination.image }}'); opacity: 0.8; ">#}
{#        <div class="tm-container" style="background-image: url('../static/upload/great_wall.jpg'); opacity: 0.8; ">#}

        <div style="margin-top: 3%">
            <div class="tm-row pt-4">
                <div class="tm-col-left">
                    <div class="tm-site-header media">
                        {#                        <i class="fas fa-umbrella-beach fa-3x mt-1 tm-logo"></i>#}
                        <i class="fas fa-plane fa-3x " style="rotate: -30deg"></i>
                        <div class="media-body">
                            <h1 class="tm-sitename text-uppercase" style="color: white">Digital Beans</h1>
                            <p class="tm-slogon" style="color: white">Your travel agent</p>
                        </div>
                    </div>
                </div>
                {#                <div class="tm-col-right">#}
                {#                    <nav class="navbar navbar-expand-lg" id="tm-main-nav">#}
                {#                        <button class="navbar-toggler toggler-example mr-0 ml-auto" type="button"#}
                {#                            data-toggle="collapse" data-target="#navbar-nav"#}
                {#                            aria-controls="navbar-nav" aria-expanded="false" aria-label="Toggle navigation">#}
                {#                            <span><i class="fas fa-bars"></i></span>#}
                {#                        </button>#}
                {#                        <div class="collapse navbar-collapse tm-nav" id="navbar-nav">#}
                {#                            <ul class="navbar-nav text-uppercase">#}
                {#                                <li class="nav-item active">#}
                {#                                    <a class="nav-link tm-nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
                {#                                </li>#}
                {#                                <li class="nav-item">#}
                {#                                    <a class="nav-link tm-nav-link" href="about.html">About</a>#}
                {#                                </li>#}
                {#                                <li class="nav-item">#}
                {#                                    <a class="nav-link tm-nav-link" href="services.html">Services</a>#}
                {#                                </li>#}
                {#                                <li class="nav-item">#}
                {#                                    <a class="nav-link tm-nav-link" href="contact.html">Contact</a>#}
                {#                                </li>#}
                {#                            </ul>#}
                {#                        </div>#}
                {#                    </nav>#}
                {#                </div>#}
            </div>

            <div class="tm-row">
                <div class="tm-col-left"></div>
                <main class="tm-col-right">
                    <section class="tm-content">
                        <h1 class="mb-5 tm-content-title"
                            style="background: linear-gradient(#4b82a6, #3275cc); color: white; border-radius: 0.5rem; text-align: center">{{ combination.name }}</h1>
                        <div class="card" style="opacity: 0.7; background-color: black">
                            <p class="mb-5 card-body" style="color: white; margin-right: 2%; margin-left: 2%">{{ combination.intro }}</p>
                        </div>
                        <hr class="mb-5">
                        {#                        <p class="mb-5">Diagoona is Bootstrap v4.4.1 layout. This BG is 50% transparent. You can set the background images auto play settings (true or false in line number 33) in templatemo-script.js file in js folder.</p>#}
                        {#                        <a href="about.html" class="btn btn-primary">Continue...</a>#}
                    </section>
                    <section class="tm-content">
                        <h1 class="mb-5 tm-content-title"
                            style="background: linear-gradient(#1c303d, #0b2e13); color: white; border-radius: 1rem; text-align: center">
                            Your reservation</h1>
                        {#                        <p class="mb-5"></p>#}
                        <kbd class="mb-5">User Name: {{ booking.name }}</kbd>
                        <kbd class="mb-5">Telephone: {{ booking.tel }}</kbd>
                        <kbd class="mb-5">Price: {{ booking.price*booking.num }} ({{ booking.price }}/person)</kbd>
                        <kbd class="mb-5">Start Time: {{ booking.start_time }}</kbd>
                        <p class="mb-5 text-right">Create Time: {{ booking.time }}</p>
                        <hr class="mb-5">

                        {#                        <a href="about.html" class="btn btn-primary">Continue...</a>#}
                    </section>
                </main>
            </div>
        </div>

        <div class="tm-row">
            {#            <div class="tm-col-left text-center">#}
            {#                <ul class="tm-bg-controls-wrapper">#}
            {#                    <li class="tm-bg-control active" data-id="0"></li>#}
            {#                    <li class="tm-bg-control" data-id="1"></li>#}
            {#                    <li class="tm-bg-control" data-id="2"></li>#}
            {#                    {{ combination.img }}#}
            {#                </ul>#}
            {#            </div>#}
            {#            <div class="tm-col-right tm-col-footer">#}
            {#                <footer class="tm-site-footer text-right">#}
            {#                    <p class="mb-0">Copyright 2020 Diagoona Co.#}
            {##}
            {#                    | Design: <a rel="nofollow" target="_parent" href="https://templatemo.com" class="tm-text-link">TemplateMo</a></p>#}
            {#                </footer>#}
            {#            </div>#}
        </div>

        <!-- Diagonal background design -->
        <div class="tm-bg">
            <div class="tm-bg-left"></div>
            <div class="tm-bg-right"></div>
        </div>
    </div>

    {#    <script src="js/jquery-3.4.1.min.js"></script>#}
    {#    <script src="js/bootstrap.min.js"></script>#}
    {#    <script src="js/jquery.backstretch.min.js"></script>#}
    {#    <script src="/js/templatemo-script.js"></script>#}
{% endblock %}