{% extends "base.html" %}
{% block title %}Planning{% endblock %}
{% block head %}

{#    <!-- plugins:css -->#}
{#  <link rel="stylesheet" href="../static/staff_site_static/vendors/feather/feather.css">#}
{#  <link rel="stylesheet" href="../static/staff_site_static/vendors/mdi/css/materialdesignicons.min.css">#}
{#  <link rel="stylesheet" href="../static/staff_site_static/vendors/ti-icons/css/themify-icons.css">#}
{#  <link rel="stylesheet" href="../static/staff_site_static/vendors/typicons/typicons.css">#}
{#  <link rel="stylesheet" href="../static/staff_site_static/vendors/simple-line-icons/css/simple-line-icons.css">#}
{#  <link rel="stylesheet" href="../static/staff_site_static/vendors/css/vendor.bundle.base.css">#}
{#  <!-- endinject -->#}
{#  <!-- Plugin css for this page -->#}
{#  <link rel="stylesheet" href="../static/staff_site_static/vendors/datatables.net-bs4/dataTables.bootstrap4.css">#}
{#  <link rel="stylesheet" href="../static/staff_site_static/js/select.dataTables.min.css">#}
{#  <!-- End plugin css for this page -->#}
{#  <!-- inject:css -->#}
{#  <link rel="stylesheet" href="../static/staff_site_static/css/vertical-layout-light/style.css">#}
{#  <!-- endinject -->#}
{#  <link rel="shortcut icon" href="../static/staff_site_static/images/favicon.png" />#}

    <style>
        .delete:hover{
            background-color: #fa4d4d !important;
        }

        h4{
            font-size: 1.125rem;
            font-weight: 400;
            text-decoration: none;
            line-height: 1.2;
            font-family: "Manrope", sans-serif !important;
            margin: 4% 0 0 0 !important;
        }

        .card{
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.2);
        }
    </style>
{% endblock %}

{% block body %}
    <div style="background: #F6F9FD;">
        <div class="container" style="padding-top: 7%; padding-bottom: 7%">
            <div class="row justify-content-between">
                <div class="col-md-12 details">
                    <h2 class="font-weight-bold spanborder" style="margin-top: 1em"><span> Customised Travel Plan Detail </span></h2>
                </div>
            </div>
            <hr>

            <div class="content-wrapper" style="">
                <div class="row" id="row">
                    {% for day in days %}
                        <div class="col-md-6 grid-margin stretch-card" style="margin: 1% 0">
                            <div class="card" >
                                <div class="card-body" style="margin: 0 3% 0 3%;">
                                    <h4 class="card-title">Day {{day[0]}}</h4>
                                    <p class="card-description">Day trip information</p>
                                    <form class="forms-sample">
                                        <div class="form-group" style="margin-bottom: 7%">
                                            <label for="Destination">Destination</label>
                                            <h4 style="color:#76838f; border-bottom: 1px solid #dbdbdb; padding-bottom: 1%; margin-top: 2%; margin-bottom: 5%">{{day[1]}}</h4>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 7%">
                                            <label for="Attraction">Attraction</label>
                                            <h4 style="color:#76838f; border-bottom: 1px solid #dbdbdb; padding-bottom: 1%; margin-top: 2%">{{day[2]}}</h4>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 7%">
                                            <label for="Accommodation">Accommodation</label>
                                            <h4 style="color:#76838f; border-bottom: 1px solid #dbdbdb; padding-bottom: 1%; margin-top: 2%">{{day[3]}}</h4>
                                        </div>
                                        <div class="form-group" style="margin-bottom: 6%">
                                            <label for="Traffic">Traffic</label>
                                            <h4 style="color:#76838f; border-bottom: 1px solid #dbdbdb; padding-bottom: 1%; margin-top: 2%">{{day[4]}}</h4>
                                        </div>
                                        <a href="{{ url_for("planning_tool.move_early", index=days.index(day), plan_id=plan.id) }}">
                                            <div class="btn btn-light">
                                                <i class="fas fa-angle-left"></i>
                                            </div>
                                        </a>

                                        <a href="{{ url_for("planning_tool.move_later", index=days.index(day), plan_id=plan.id) }}">
                                            <div class="btn btn-light">
                                                <i class="fas fa-angle-right"></i>
                                            </div>
                                        </a>

                                        <a href="{{ url_for("planning_tool.delete_day", index=days.index(day), plan_id=plan.id) }}">
                                            <div class="btn btn-light" style="float: right">Delete</div>
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-md-6 grid-margin stretch-card" id="card" style="margin: 1% 0">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">New Day-Trip Draft</h4>
                                <p class="card-description">Complete the trip information</p>

                                <form action="{{ url_for('planning_tool.add_new_day', plan_id=plan.id) }}" method="post" novalidate
                                      class="forms-sample" id="day_trip_form">
                                    {{ day_form.csrf_token }}
                                    <div class="form-group">
                                        <label for="Destination">Destination</label>
                                        <select class="form-control" id="Destination" name="destination">
                                            {% for destination in destinations %}
                                                <option>{{destination.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Attraction">Attraction</label>
                                        <select class="form-control" id="Attraction" name="attraction">
                                            {% for attraction in attractions %}
                                                <option>{{attraction.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Accommodation">Accommodation</label>
                                        <select class="form-control" id="Accommodation" name="accommodation">
                                            {% for accommodation in accommodations %}
                                                <option>{{accommodation.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Traffic">Traffic</label>
                                        <select class="form-control" id="Traffic" name="traffic">
                                            {% for traffic in traffics %}
                                                <option>{{traffic.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <button style="margin: 8% 0 1% 0" name='submit' type="submit" class="btn btn-primary me-2" id="add">Add</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <form action="{{url_for('planning_tool.update_plan', plan_id=plan.id)}}" method="post" novalidate enctype="multipart/form-data">
                    {{ plan_form.csrf_token }}
                    <div class="col-md-12 grid-margin stretch-card" style="padding: 0; margin-top: 2%">
                        <div class="card" >
                            <div class="card-body" >
                                <div class="form-group" style="margin-bottom: 0">
                                    <p>Package Name:</p>
                                    <label style="width: 100%">
                                        <input class="form-control" name="name" value="{{ plan.name }}" >
                                    </label>
                                </div>

                                <div class="form-group" style="margin-bottom: 0">
                                    <p>Notes:</p>
                                    <label style="width: 100%">
                                        <input class="form-control" name="intro" value="{{ plan.intro }}" >
                                    </label>
                                </div>

                                <div class="form-group" style="margin-bottom: 0">
                                    <p>Price:</p>
                                    <label style="margin-bottom: 1%">
                                        <input readonly="readonly" class="form-control" type="number" name="price" value="{{ fees }}">
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div  style="display:flex; justify-content: center; align-items:center; padding: 2.5% 0 0 0">
                        <a href="{{url_for("planning_tool.back")}}" style="margin-right: 1.2%">
                            <input type="button" class="btn btn-primary me-2" name="submit" value="Back">
                        </a>

                        <a href="" style="margin-right: 1.2%">
                          <input type="submit" class="btn btn-primary me-2" name="submit" value="Update Package">
                        </a>

                        <a href="{{url_for("booking.addPersonalBooking", combination_id=plan.id )}} ">
                            <input type="button" class="btn btn-primary me-2" name="buy_now" value="Buy Now">
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}