{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block head %}
<style>
#image-preview {
  max-height: 200px;
  overflow-y: auto;
}

.preview-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

</style>
{% endblock %}

{% block body %}
<section style="background-color: #eee; " >
<script type="text/javascript" src="../static/js/add.js"></script>
    <div class="container py-5"  >
<!--        <div class="row">-->
<!--            <div class="col">-->
<!--&lt;!&ndash;                <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">&ndash;&gt;-->
<!--&lt;!&ndash;                    <ol class="breadcrumb mb-0">&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="breadcrumb-item"><a href="#">Home</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="breadcrumb-item"><a href="#">User</a></li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li class="breadcrumb-item active" aria-current="page">User Profile</li>&ndash;&gt;-->
<!--&lt;!&ndash;                    </ol>&ndash;&gt;-->
<!--&lt;!&ndash;                </nav>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->

        <div class="row" style="margin-top: 5%">
            <div class="col-lg-4">
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src={{ user.avatar_url }}
                             alt=""
                             class="rounded-circle img-fluid" style="width: 150px;"
                        onerror="javascript:this.src='static/upload/default_avatar.png/'">
                        <h3 class="my-3">{{ user.username }}</h3>
                        <p class="text-muted mb-1">{{ user.profession }}</p>
                        <p class="text-muted mb-4">{{ user.address }}</p>
                        <p class="text-muted mb-4">{{ user.birthday }}</p>

<!--                        <div class="d-flex justify-content-center mb-2">-->
<!--                            <button type="button" class="btn btn-primary">Follow</button>-->
<!--                            <button type="button" class="btn btn-outline-primary ms-1">Message</button>-->
<!--                        </div>-->
                    </div>
                </div>
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">Personal Website</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">GitHub</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">Twitter</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">Instagram</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">Facebook</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card mb-4">
                    <div class="card-body">
{#                        <form method="POST" action="{{ url_for('staff_site.update_profile') }}" enctype="multipart/form-data">#}
                        <form method="POST" action="{{ url_for('staff_site.update_profile') }}" enctype="multipart/form-data" style="margin-top: 1rem">
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="full_name">Full Name</label>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.username }}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="email">Email</label>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{ user.email }}</p>
{#                                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" value="{{ user.email }}" required>#}
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="gender">Gender</label>
                                </div>
                                <div class="col-sm-9">
                                    <select class="form-control" id="gender" name="gender" required>
                                        <option value="" disabled selected>Select gender</option>
                                        <option value="male" {% if user.gender == 'male' %} selected {% endif %}>Male</option>
                                        <option value="female" {% if user.gender == 'female' %} selected {% endif %}>Female</option>
                                        <option value="other" {% if user.gender == 'other' %} selected {% endif %}>Other</option>
                                    </select>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="date_of_birth">Date of Birth</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" id="date_of_birth" name="date_of_birth" placeholder="Enter date of birth" value="{{ user.date_of_birth }}" required>
                                </div>
                            </div>

                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="email">Profession</label>
                                </div>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="profession" name="profession" placeholder="Enter Profession" value="{{ user.profession }}" required>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label for="email">Address</label>
                                </div>
                                <div class="col-sm-9">
                                    <textarea class="form-control" id="address" name="address" placeholder="Enter Address" required>{{ user.address }}</textarea>
                                </div>
                            </div>

                            <hr>
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="avatar-input" class="form-label">Avatar</label>
                                </div>
                                <div class="col-sm-9">
                                    <input class="form-control" type="file" id="avatar-input" name="avatar-input" onchange="previewImages()" accept="image/*">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-9">
                                    <div class="row" id="image-preview"></div>
                                </div>
                            </div>

                            <script>
                                function previewImages() {
                                    const preview = document.getElementById("image-preview");
                                    preview.innerHTML = "";
                                    const files = document.getElementById("avatar-input").files;
                                    for (const file of files) {
                                        const reader = new FileReader();
                                        reader.readAsDataURL(file);
                                        reader.onload = function (e) {
                                            const img = new Image();
                                            img.src = e.target.result;
                                            img.classList.add("preview-image");
                                            const col = document.createElement("div");
                                            col.classList.add("col-4");
                                            col.appendChild(img);
                                            preview.appendChild(col);
                                        };
                                    }
                                }
                            </script>

                            <hr>
                            <div style="text-align: center">
                                <button type="submit" class="btn btn-primary">Update Profile</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% if combiantion_name != [] %}

                        <div class="card mb-4 mb-md-0">
                            {% for i in range(0,price|length) %}
                                <div class="card-body">
                                <p class="mb-4"><span class="text-primary font-italic me-1">Set name: </span>
                                    {{ combiantion_name[i] }}
                                </p>
                                <p class="mb-1" style="font-size: .77rem;">Total price : {{ price[i] }}</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Number: {{ number[i] }}</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="mt-4 mb-1" style="font-size: .77rem;">Start time: {{ start_time[i] }}</p>
                                <div class="progress rounded" style="height: 5px;">
                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"
                                         aria-valuemin="0" aria-valuemax="100"></div>
                                </div>

{#                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>#}
                                {#                                <div class="progress rounded" style="height: 5px;">#}
                                {#                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"#}
                                {#                                         aria-valuemin="0" aria-valuemax="100"></div>#}
                                {#                                </div>#}
{#                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>#}
                                {#                                <div class="progress rounded" style="height: 5px;">#}
                                {#                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"#}
                                {#                                         aria-valuemin="0" aria-valuemax="100"></div>#}
                                {#                                </div>#}
{#                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>#}
                                {#                                <div class="progress rounded mb-2" style="height: 5px;">#}
                                {#                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"#}
                                {#                                         aria-valuemin="0" aria-valuemax="100"></div>#}
                                {#                                </div>#}
                                <hr>
                            </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    </div>
                    <!--                    <div class="col-md-6">-->
                    <!--                        <div class="card mb-4 mb-md-0">-->
                    <!--                            <div class="card-body">-->
                    <!--                                <p class="mb-4"><span class="text-primary font-italic me-1">assigment</span> Project-->
                    <!--                                    Status-->
                    <!--                                </p>-->
                    <!--                                <p class="mb-1" style="font-size: .77rem;">Web Design</p>-->
                    <!--                                <div class="progress rounded" style="height: 5px;">-->
                    <!--                                    <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80"-->
                    <!--                                         aria-valuemin="0" aria-valuemax="100"></div>-->
                    <!--                                </div>-->
                    <!--                                <p class="mt-4 mb-1" style="font-size: .77rem;">Website Markup</p>-->
                    <!--                                <div class="progress rounded" style="height: 5px;">-->
                    <!--                                    <div class="progress-bar" role="progressbar" style="width: 72%" aria-valuenow="72"-->
                    <!--                                         aria-valuemin="0" aria-valuemax="100"></div>-->
                    <!--                                </div>-->
                    <!--                                <p class="mt-4 mb-1" style="font-size: .77rem;">One Page</p>-->
                    <!--                                <div class="progress rounded" style="height: 5px;">-->
                    <!--                                    <div class="progress-bar" role="progressbar" style="width: 89%" aria-valuenow="89"-->
                    <!--                                         aria-valuemin="0" aria-valuemax="100"></div>-->
                    <!--                                </div>-->
                    <!--                                <p class="mt-4 mb-1" style="font-size: .77rem;">Mobile Template</p>-->
                    <!--                                <div class="progress rounded" style="height: 5px;">-->
                    <!--                                    <div class="progress-bar" role="progressbar" style="width: 55%" aria-valuenow="55"-->
                    <!--                                         aria-valuemin="0" aria-valuemax="100"></div>-->
                    <!--                                </div>-->
                    <!--                                <p class="mt-4 mb-1" style="font-size: .77rem;">Backend API</p>-->
                    <!--                                <div class="progress rounded mb-2" style="height: 5px;">-->
                    <!--                                    <div class="progress-bar" role="progressbar" style="width: 66%" aria-valuenow="66"-->
                    <!--                                         aria-valuemin="0" aria-valuemax="100"></div>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
