{% extends "base2.html" %}
{% block title %}
    Register
{% endblock %}

{% block style %}
<style>
    .bg-primary{
            background: rgba(6, 47, 60, 0.6) !important;
            border-color: rgba(6, 47, 60, 0.3) !important;
        }

        .form-primary{
            background: rgba(0, 0, 0, 0) !important;
            border-color: rgba(0, 0, 0, 0) !important;
        }

        .form-control{
            background: rgba(255, 255, 255, 0.4) !important;
            border-color: rgba(6, 47, 60, 0.7) !important;
        }

        .btn-primary{
            border-color: rgba(0, 0, 0, 0) !important;
        }
</style>
{% endblock %}

{% block main %}
<main class="main">
    <section class="py-xl bg-cover bg-size--cover"
             style="background-image: url('../static/images/backgrounds/img-1.jpg')">
        <span class="mask bg-primary alpha-6" style=""></span>
        <div class="container d-flex align-items-center no-padding">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                    <div class="">
                            {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                    <ul>
                                        {% for message in messages %}
                                            {% for message in messages %}
                                                <li style="text-align: center; font-size: larger; color: red; list-style: none">
                                                    <div class="alert alert-danger" role="alert" id="message" style="opacity: 0.6;">{{ message }}</div>
                                                </li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            {% endwith %}
                        </div>
                        <div class="card bg-primary text-white">

                            <div class="card-body">
                                <button type="button" class="btn btn-primary btn-nobg btn-zoom--hover mb-5">
                                    <span class="btn-inner--icon"><i class="fas fa-arrow-left"></i></span>
                                </button>
                                <span class="clearfix"></span>
                                <img src="../static/images/brand/icon.png" style="width: 50px;">

                                <h4 class="heading h3 text-white pt-3 pb-5">Welcome,<br>
                                    create your own account.</h4>
                                <form action="{{ url_for('account.sign_up') }}" method="post" novalidate
                                      class="form-primary">
                                    {{ form.csrf_token }}
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Username</label>
                                        <input type="text" class="form-control" id="register_username"
                                               placeholder="Username" name="username">
                                        <!-- the input box for user to type username -->
                                        {% for error in form.username.errors %}
                                            <!-- report error in red to user when get error from backend -->
                                            {#                                            <div class="modal-danger">[{{ error }}]</div>#}
                                            {#                                            <div class="alert alert-warning shadow-lg" role="alert">#}
                                            {#                                                {{ error }}#}
                                            {#                                            </div>#}
                                            <div class="alert alert-danger" role="alert">
                                                <img height="20"
                                                     src="../static/images/icons/circle-exclamation-solid.svg"
                                                     alt="some text"/> {{ error }}
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email</label>
                                        <input type="email" class="form-control" id="register_email"
                                               placeholder="Email" name="email">
                                        {% for error in form.email.errors %}
                                            <!-- report error in red to user when get error from backend -->
                                            {#                                            <span style="color: #fff200;">[{{ error }}]</span>#}
                                            <div class="alert alert-danger" role="alert">
                                                <img height="20"
                                                     src="../static/images/icons/circle-exclamation-solid.svg"
                                                     alt="some text"/> {{ error }}
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        {% endfor %}

                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Verification Code</label>
                                        <div class="input-group">
                                            {#                                            <input type="text" class="form-control" name="captcha"#}
                                            {#                                                   id="verification_code" placeholder="Verification Code" #}
                                            <input type="text" class="form-control" name="email_verification_code"
                                                   id="verification_code" placeholder="Verification Code">

                                            <div class="input-group-append">
                                                <button class="btn btn-block btn-secondary" type="button"
                                                        id="captcha-btn">Get Verification Code
                                                </button>
                                            </div>
                                        </div>
                                        {% for error in form.email_verification_code.errors %}
                                            <!-- report error in red to user when get error from backend -->
                                            {#                                            <span style="color: #fff200;">[{{ error }}]</span>#}
                                            <div class="alert alert-danger" role="alert">
                                                <img height="20"
                                                     src="../static/images/icons/circle-exclamation-solid.svg"
                                                     alt="some text"/> {{ error }}
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                    </div>

                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Password</label>
                                        <input type="password" class="form-control" id="input_password"
                                               placeholder="Password" name="password">
                                        {% for error in form.password.errors %}
                                            <!-- report error in red to user when get error from backend -->
                                            {#                                            <span style="color: #fff200;">[{{ error }}]</span>#}
                                            <div class="alert alert-danger" role="alert">
                                                <img height="20"
                                                     src="../static/images/icons/circle-exclamation-solid.svg"
                                                     alt="some text"/> {{ error }}
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                        <!-- the input box for user to type password -->
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Retype Password</label>
                                        <input type="password" class="form-control" id="input_password"
                                               placeholder="Password" name="confirm_password">
                                        {% for error in form.confirm_password.errors %}
                                            <!-- report error in red to user when get error from backend -->
                                            {#                                            <span style="color: #fff200;">[{{ error }}]</span>#}
                                            <div class="alert alert-danger" role="alert">
                                                <img height="20"
                                                     src="../static/images/icons/circle-exclamation-solid.svg"
                                                     alt="some text"/> {{ error }}
                                                <button type="button" class="close" data-dismiss="alert"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">×</span>
                                                </button>
                                            </div>
                                        {% endfor %}
                                        <!-- the input box for user to type password -->
                                    </div>
                                    {#                      <div class="text-right mt-4"><a href="#" class="text-white">Forgot password?</a></div>#}
                                    <button type="submit" class="btn btn-block btn-lg bg-white mt-4">
                                        Register Now!
                                    </button>
                                    <div class="mt-4" style="text-align: center;">
                                        <a href="{{ url_for('account.login') }}" class="text-white" style="display: block; margin-top: 10px">Already have an account？Login</a>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
{#    <script src="../static/vendor/popper/popper.min.js"></script>#}
{#    <script src="../static/js/bootstrap/bootstrap.min.js"></script>#}
    <script src="../static/js/register.js"></script>
{% endblock %}
