{% extends "chat/chatbase.html" %}

{% block title %}Home{% endblock %}

{% block head %}
<style type="text/css">
/* Chat containers */
.container_chat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 2rem auto;
  width: 80%;
}

/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.container::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.container b {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.container b.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.btnTrans{
    color: red;
}

.res_translate{
    margin-left: 5px;
}

</style>
{% endblock %}

{% block messages %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
{#            <div class="col-sm-4" style="height: 100%; overflow: scroll;">#}
{#                <ul class="list-group" id="user-list">#}
{#                    <li class="list-group-item active">User List</li>#}
{#                    <li class="list-group-item user-li" onclick="switch_user_chat('selina', 0)">免费 Window 空间托管</li>#}
{#                    <li class="list-group-item user-li" onclick="switch_user_chat('selina', 1)">图像的数量</li>#}
{#                    <li class="list-group-item user-li" onclick="switch_user_chat('selina', 2)">24*7 支持</li>#}
{#                    <li class="list-group-item user-li" onclick="switch_user_chat('selina', 3)">每年更新成本</li>#}
{#                </ul>#}
{#            </div>#}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
      {% endif %}
    {% endwith %}
{% endblock %}

{% block content %}
<style>
    .form button:hover,.form button:active,.form button:focus {
        background: #43A047;
    }
</style>
<div class="row" style="margin-top: 3%" >
    <div class="col" style="margin-top: 1%"><hr></div>
    <div class="col-auto"><p class="h3" align="center" style="margin-top: 6%">Customer Service</p></div>
    <div class="col" style="margin-top: 1%"><hr></div>
</div>
<div class="container_chat col-md-8">
    <div id="messages" class="overflow-auto msgs" style="overflow-y: scroll; height:500px;">
    </div>
    <form id="msgForm" action="#" method="POST" target="frameName" style="bottom:0; margin: 0% 0% 0% 0%;">
        <div class="input-group mb-3">
              <input type="text" class="form-control" placeholder="Message" list = "auto reply" aria-label="Message" id="msg">
            <datalist id="auto reply">
							<option value="How to check order status?">
							<option value="When staff work?">
                            <option value="Where to check my Favorites?">
                            <option value="How to contact Digital Beans for further cooperation?">

            </datalist>
              <div class="input-group-append">
                <button class="btn btn-success" type="button" id="sendBtn">Send</button>
              </div>
        </div>
    </form>
    <iframe name="frameName" hidden></iframe>
</div>
{% endblock %}